.wrapper {
  background-color: #f2f8ff;
  padding-bottom: 100px;
}

.card.m-auto,
.m-auto {
  margin: 0 auto;
  width: 500px;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.col {
  flex: 1;
}

.mt {
  margin-top: 20px;
}